/* ----------------------------------------- */
/* ------- stuff that fits all pages ------- */
/* ----------------------------------------- */

p {
  font-family: 'Inknut Antiqua';
  color: #18494d;
}

h1 {
  font-family: 'Inknut Antiqua';
  color: #18494d;
}

#thisisnavbar {
  background:transparent;
  font-family: 'Inknut Antiqua';
  color: #634731; 
  font-size: 120%;
}

.navbar-brand {
  color:#18494d; 
  font-size: 120%;
}

A:link { 
  color: #634731; 
} 
A:visited { 
  color: #18494d;
} 
A:active { 
  color: #d6b58a;  
} 
A:hover { 
  color: #24656b;
}

/* --------------------------------------------------- */
/* ------- done with stuff that fits all pages ------- */
/* --------------------------------------------------- */


/* ----------------------------------------- */
/* ------- stuff that fits main page ------- */
/* ----------------------------------------- */

.mainpagewrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainpagebox {
  background-color: rgb(126, 106, 83);
  color: #634731;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAWklEQVQoU2O8uHHCf33/AkYGKKjLDP4PYjZNXwsXA6mBc0CSIEUwBchskByKScimoGsEK0TWDbIGJAZzDkyOEV0RTAGy20FqiFdItNXIwULQM9gUYwQPsQEOAEJaap8RkkkAAAAAAElFTkSuQmCC)
}

#mainpagebody {
  background-image: url("yoshikawasmall.jpg");
  background-size: 100%;
  font-family: 'Inknut Antiqua';
}

.mainpagepic {
  opacity: .5;
}

.mainpagepic:hover {
  opacity: 1;
}

/* --------------------------------------------------- */
/* ------- done with stuff that fits main page ------- */
/* --------------------------------------------------- */

/* ---------------------------------------------- */
/* ------- stuff that fits portfolio page ------- */
/* ---------------------------------------------- */

#portfoliopagebody {
  background-image: url("asamtensightssmall.jpg");
  background-size: 100%;
  font-family: 'Inknut Antiqua';
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#portheading {
  font-size: 200%;  
}

#portitems {
  margin-top: 5%;
}

.portfoliobckgd {
  background:rgb(255, 255, 255, .85)
}

.portpic {
  padding: 20px;
  text-align: center;
  border-radius: 50%;
}

#nextimages {
  float: left;
}

#proficolumn{
  background:rgb(255, 255, 255, .6);
  width: 400px;
  margin-top: -40px;
  padding-top: 60px;
  border-radius: 20px;
  position: fixed;
}

#profisites {
  padding: 20px;
  font-size:40px;
  text-align: center;
}

/* -------------------------------------------------------- */
/* ------- done with stuff that fits portfolio page ------- */
/* -------------------------------------------------------- */


/* ------------------------------------------------- */
/* ------- stuff that fits professional page ------- */
/* ------------------------------------------------- */

/* #professionalpagebody {
  background-image: url("nikkosacredbridgehasuismall.jpg");
  background-size: 100%;
  font-family: 'Inknut Antiqua';
  color: #634731;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#professionalpagebckgd{
  background:rgb(255, 255, 255, .6)
}

#profih1 {
  color: #634731;
  font-family: 'Inknut Antiqua';
}

#profisites {
  padding: 20px;
  /* color:rgb(211, 7, 7) */
} */

/* ----------------------------------------------------------- */
/* ------- done with stuff that fits professional page ------- */
/* ----------------------------------------------------------- */


/* -------------------------------------------- */
/* ------- stuff that fits writing page ------- */
/* -------------------------------------------- */

#writingpagebody {
  background-image: url("hodakayamasmallfade2.jpg");
  background-size: 100%;
  font-family: 'Inknut Antiqua';
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ------------------------------------------------------ */
/* ------- done with stuff that fits writing page ------- */
/* ------------------------------------------------------ */


/* -------------------------------------------- */
/* ------- stuff that fits contact page ------- */
/* -------------------------------------------- */

#contactpagebody {
  background-image: url("yoshidawisteriasmall.jpg");
  background-size: 100%;
  font-family: 'Inknut Antiqua';
  color: #634731;
}

#contactpagebckgd{
  background:rgb(255, 255, 255, .7)
}

#contacth1 {
  color: #634731;
}

#contactp {
  color: #634731;
}

form {
  height: 300px;
  margin: 10px;
  width: 100%;
  font-family: 'Inknut Antiqua';
  color: rgb(126, 106, 83);
}

.short {
  width: 80%;
}

#makeitbig {
  height: 80px;
  width: 80%;
}

#prettybluebutton {
  background-color: rgb(126, 106, 83);
  border: double;
  border-width: 4px;
  color: white;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

/* ------------------------------------------------------ */
/* ------- done with stuff that fits contact page ------- */
/* ------------------------------------------------------ */


/* -------------------------------------------- */
/* ------- stuff that fits credits page ------- */
/* -------------------------------------------- */

#creditspagebody {
  background-image: url("sunsetichinokurahasuismall.jpg");
  background-size: 100%;
  font-family: 'Inknut Antiqua';
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#creditspagebckgd{
  background:rgb(255, 255, 255, .7)
}

/* ------------------------------------------------------ */
/* ------- done with stuff that fits credits page ------- */
/* ------------------------------------------------------ */


/*this is for just the footer*/
footer {
  height: 50px;
  color: #18494d;
  bottom: 0;
  left: 0;
  background:transparent;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 5px; 
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.footerclick {
  color: red;
}
/*done with the footer, too*/

/*all done! ٩(^ᴗ^)۶ */