/*stuff that fits all pages*/
img {
  float: left;
}

img:hover {
  opacity: .5;
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}


p {
  color: #18494d;
  float: left;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#thisisnavbar {
  background-color:rgb(255, 253, 233);
/*  border-bottom-style: solid;
  border-color: #256d74;
  border-width: 0px 0px 2px 0px; */
  font-family: 'Inknut Antiqua';
  color: #18494d; /* ----------------------------- FIX THIS LATER!!!*/
}


#centerbox {
  margin-top:5%;
  margin-left:auto;
  margin-right:auto;
  width: 40%;
  padding: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 10px;
  background-color: #fff;
  color: #18494d;
}

.box {
  background-color: #18494d;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}


/*
#maincontent {
  font-family: 'Inknut Antiqua';
  text-align: center;
  background-color:#ffffff;
  margin: 7% 20% 7% 20%; 
  color: #777777;
  padding: 0 15px 15px 15px;
  border-style: solid;
  border-width: 1px;
  border-color:#dddddd;
  top: 100px;
  line-height: 25px;
}

body {
  background-image: url("paintybckgd.jpg");
  background-size: 100%;
}*/

body {
  background-color:rgb(255, 253, 233)
}







/*done with stuff that fits all pages*/

/*stuff that is only on the contact form page*/
form {
  height: 360px;
  margin: 10px;
  width: 100%;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

.short {
  width: 95%;
}

#makeitbig {
  width: 95%;
  height: 180px;

}

#contactme {
  color: #4aaaa5;
}

.prettybluebutton {
  background-color: #4aaaa5;
  border: double;
  border-width: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/*done with contact form page stuff*/

/*portfolio page stuff only*/
.portpic {
  padding: 20px;
  float: left;
}

#nextimages {
  float: left;
}
/*done with porfolio page stuff*/

/*this is for just the footer*/
footer {
  height: 40px;
  color: #18494d;
  bottom: 0;
  left: 0;
  background: rgb(255, 253, 233);
/*  border-top-style: solid;
  border-color: #256d74;
  border-width: 2px 0px 0px 0px; */
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 5px; 
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
/*done with the footer, too*/

/*all done! ٩(^ᴗ^)۶ */